body {
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin: 2%
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

  }
  
  h1 {
    font-size: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

} 
  
  .top-card {
    font-size: 200%;
    padding: 5%;
    width: 40%;
  }
  .about-me{
    font-size: 200%;
    padding-top: 1% ;

  }
  .pic{
    max-width: 20%;
  }

  .port{
    font-size: 200%;
    padding-top: 10%
  }

  .me{
    display: flex;
    justify-self: space-evenly;

    

  }
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }
  
  a:link{
    font-weight: bold;
    font-size:20px;
    color:blue;
    text-decoration: none;
  }

  a:hover{
    font-size: 25px;
  }
  a:focus{
    background: yellow;
  }
  a:active{
    color: green;
    font-weight: 900;
  }