* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 2;
  background-color: rgb(195, 233, 195);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background: linear-gradient(45deg, rgb(190, 183, 183), rgb(127, 125, 125));
}

h1 {
  font-size: 500%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;

}

.vert-header {
  font: 10%;
  padding: 10px 150px 10px 100px;
  width: 4%;
}

.about-me {
  font-size: 300%;
  width: 50%;
  text-align:start;
  margin: 10% auto auto 0%;
  padding-bottom: 0%;

}

.pic {
  padding: 8% 3% 0% 12%;
  margin-left: 100px;
}

.port {
  font-size: 200%;
  padding-top: 20%
}

.me {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0%;
  padding-bottom: 0%;

}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 5% 0px 5%;
}
/* make all h2 verticle */
h2 {
  font-size: 40px;
  padding: 3% 5% 0% 0%;
  border-right: solid;
  margin-top: 200px;
  text-orientation: upright;
  color: black;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  writing-mode: vertical-lr;
  

}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-right:25%;
  min-width: 500px;
}
/* Make all links have a hover */
a:link {
  font-weight: bold;
  font-size: 25px;
  color: blue;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  font-size: 35px;
  transform: scale(1.5);
}

a:focus {
  background: yellow;
}

a:active {
  color: green;
  font-weight: 900;
}


.italy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10%;
  margin-bottom: 100px;
}

h3 {

  font-size: 30px;
  text-align: center;
  border: solid;
  background: linear-gradient(60deg, rgb(160, 158, 158), rgb(85, 85, 85));
}

.pic2 {
  height: 200px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.bigger {
  flex-grow: 1 0 auto;
  width: 100%;
}

.paper{
  height: 500px;
  margin-left: 100px;
  padding-left: 100px;
  margin-bottom: 200px;
  margin-top: 0px;
}

.resume{
  margin-top: 0px;
}

.contact{
  padding: 30px 25px 100px 100px;
  margin-top: 0;
}

.cellphone{
  height:500px;
  margin-left: 300px;
  margin-top: 0px;
}

.ending{
  display: flex;
  flex-direction: column;
  font-size: 40px;
  padding: 70px 300px 200px 300px;
  margin: 30px 100px 100px 300px;
  background: linear-gradient(60deg, rgb(160, 158, 158), rgb(85, 85, 85));
  height: 20px;
}

.sizing{
  margin: -100px 100px 100px 80px;
  padding: 50px 100px 20px 30px;
}
@media screen and (max-width: 1300px) {

  h2 {
    font-size: 40px;
    padding: 10px 100px 0px 100px ;
    border-right: none;
    border-bottom: solid;
    margin: 20px 20px 0px 10px;
    text-orientation:upright;
    text-align: center;
    position: static;
    writing-mode:unset;
    width: 100%;
    background-color: rgb(9, 185, 170);
  }
  .me{
    display: flex;
    flex-wrap: wrap;
  }
  .pic{
    margin:0;
    height: 10%;
    width: 90%;
  }
  .vert-header {
    font: 10%;
    padding: 0% 0% 0% 0%;
    width: 100%;
    margin-bottom: 0%;

  }
  .about-me {
    font-size: 200%;
    width: 100%;
    text-align: center;
    margin: 10% 0% 0% 0%;
    padding-bottom: 0%;
  
  }
  .contact{
    padding: 0%;
    margin-top: 0;
  }
  .ending{
    margin: 10% ;
    background: transparent;
    padding: 0% 5% 40% 5%;
    font-size: 25px;
  }
  footer{
    display: flex;
    flex-wrap: wrap;
  }
  .sizing{
    margin:0%
  }
}


